version: "4.14"
services:
  mongodb:
        image: mongo:latest
        container_name: mongodb
        ports:
         - 27018:27017
  server:
    build: ./server
    ports:
      - "3001:3001"
    depends_on:
      - mongodb
  frontend:
    build: ./client
    ports:
      - "3000:3000"
    volumes:
      - ./client/src:/app/src
    stdin_open: true
    tty: true
    depends_on:
      - server




    



             